[Dd]ummy*
etilang-fa/fastapi_timbangan-master/.env
etilang-fa/fastapi_timbangan-master/__pycache__
etilang-fa/fastapi_timbangan-master/sql_app/__pycache__
etilang-fa/fastapi_timbangan-master/linux_env
etilang-fa/fastapi_timbangan-master/venv
etilang-fa/venv